<%- include('../includes/head.ejs') %>
    <link href="/css/company.css" rel="stylesheet" type="text/css">
    <link href="/css/select2.css" rel="stylesheet" type="text/css">
    <link href="/css/tag.css" rel="stylesheet" type="text/css">


    <link href="/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <script src='/js/registration.js'></script>

    </head>

    <body id="page-top">

        <%- include('../includes/drawer.ejs') %>

            <div class="container-fluid">
                <div class="row mb-2 mx-2 mt-2">
                    <div class="col-md-12">
                        <!-- Company Info -->
                        <div class="card shadow mb-4 " id="hiddenForm1">
                            <!-- <div class="card-header ">
                                <h3 class="card-title m-0 font-weight-bold text-primary " style="text-align: center;">
                                    <%= company.dataValues.company_name%>
                                </h3>
                            </div>

                            <div class="card-body ">
                                <div class="row ">
                                    <div class="col-md-12 ">
                                        <p>
                                            <%= company.dataValues.company_description %>
                                        </p>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <P class="m-0 font-weight-bold text-black-50">Status
                                            <span class="m-0 font-weight-bold text-danger">
                                        <%= company.dataValues.company_status %>
                                    </span>
                                        </P>
                                        <P class="m-0 font-weight-bold text-black-50">Response
                                            <span class="m-0 font-weight-bold text-success">
                                        <%= company.dataValues.company_response %>
                                    </span>
                                        </P>
                                    </div>


                                </div>




                            </div> -->
                            <!-- /.card-body -->

                                    <div class="card-body ">
                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="form-group ">
                                                    <label>Company Name</label>
                                                    <input type="text" class="form-control" value="<%= company && company.dataValues.company_name ? company.dataValues.company_name : null %>" placeholder="Company Name" disabled>
                                                </div>
                                            </div>

                                        </div>
                                        <%if( user !== "TEAM_LEADER" &&
                                                                            user !== "SUPERVISIOR" &&
                                                                            user !== "FULLTIME_RECRUITER" &&
                                                                            user !== "INTERN_OFF" &&
                                                                            user !== "INTERN_ON" &&
                                                                            user !== "FREELANCER" &&
                                                                            user !== "SUB_VENDOR" &&
                                                                            user !== "MANAGER"
                                                                            ){ %>
                                        <div class="row ">
                                            <div class="col-md-12 col-sm-12">
                                                <div class="form-group ">
                                                    <label>HR Name</label>
                                                    <input type="text" class="form-control" value="<%= company && company.dataValues.hr_name ? company.dataValues.hr_name : null %>" disabled>
                                                </div>
                                            </div>
                                        </div>

                                        

                                        <div class="row ">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group ">
                                                    <label>HR Mobile</label>
                                                    <input type="tel" class="form-control" value="<%= company && company.dataValues.hr_mobile ? company.dataValues.hr_mobile : null %>" disabled>
                                                </div>
                                            </div>

                                            

                                            <div class="col-md-6 col-sm-12">
                                                <div class="form-group ">
                                                    <label>HR Email</label>
                                                    <input type="email" class="form-control" disabled value="<%= company && company.dataValues.hr_emal ? company.dataValues.hr_emal : null %>">
                                                </div>
                                            </div>
                                        </div>

                                        

                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label for="comment">Designation Detail</label>
                                                    <textarea class="form-control" rows="3" disabled style="resize: none;">
                                                        <%= company && company.dataValues.job_detail_description ? company.dataValues.job_detail_description : null %>
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <%}%>

                                        <div class="row ">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <label for="comment">Description</label>
                                                    <textarea class="form-control" rows="3" style="resize: none;" disabled>
                                                        <%= company && company.dataValues.company_description ? company.dataValues.company_description : null %>
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label for="comment">Response</label>
                                                    <select class="form-control select2" style="width: 100%;" disabled>
                                                    <option selected ><%= company && company.dataValues.company_response ? company.dataValues.company_response : null %></option>
                                            
                                        </select>
                                                </div>

                                            </div>
                                            <div class="col-md-6">

                                                <div class="form-group">
                                                    <label for="comment">Status</label>
                                                    <select class="form-control select2" style="width: 100%; " disabled>
                                                    <option value=""><%= company && company.dataValues.company_status ? company.dataValues.company_status : null %></option>
                                            
                                                    </select>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                        <%if( user === "ADMIN" || user === "MANAGER" || user === "BUSSINESS_DEVELOPMENT" ){ %>
                            <div class="card-footer ">
                                <a class="btn btn-primary shadow-sm float-right text-white" href="/company/companyId/<%= companyId %>/?role=true" type="button"> <i class="fas fa-fw fa-plus"></i>Add role</a>
                            </div>
                            <%}%>
                        </div>
                    </div>
                </div>

                <% if(table && role.length > 0) {%>
                    
                    <div class="row mb-2 mx-2 mt-2">
                        <div class="col-md-12">
                            <div class="card shadow mb-4">
                                <div class="table-responsive">
                                    <div class="table-wrapper">

                                        <div class="table-title">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <h2 class="m-0 font-weight-bold text-primary">Company <b>Role</b>
                                                    </h2>
                                                </div>

                                            </div>
                                        </div>

                                        <table class="table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">PsuedoName</th>
                                                    <th scope="col">Company Role</th>
                                                    <th scope="col">Designation</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% let i=1; for (let src of role) { %>
                                                    <tr>
                                                        <th scope="row" style="width: 10%;">
                                                            <%=i%>
                                                        </th>
                                                        <td style="width: 20%;">
                                                            <%=src.pseudoName %>
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <%=src.role%>
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <%=src.designation%>
                                                        </td>
                                                        <td style="width: 20%;">
                                                            <%=src.status%>
                                                        </td>
                                                        <td style="width: 10%;">

                                                            <a href="/company/roleID/<%= src.id %>/?view=true&name=<%= company.dataValues.company_name %>&id=<%= companyId%>" class="edit" title="View" data-toggle="tooltip"><i
                                                    class="fas fa-fw fa-eye"></i></a>

                                                    <%if( user !== "TEAM_LEADER" &&
                                                                            user !== "SUPERVISIOR" &&
                                                                            user !== "FULLTIME_RECRUITER" &&
                                                                            user !== "INTERN_OFF" &&
                                                                            user !== "INTERN_ON" &&
                                                                            user !== "FREELANCER" &&
                                                                            user !== "SUB_VENDOR" &&
                                                                            user !== "MANAGER"
                                                                            ){ %>
                                                            <a href="/company/roleID/<%= src.id %>/?edit=true&name=<%= company.dataValues.company_name %>&id=<%= companyId%>" class="edit" title="Edit" data-toggle="tooltip"><i
                                                    class="fas fa-fw fa-pen"></i></a>
                                                    <%}%>

                                                    <%if( user === "ADMIN" ){ %>
                                                            <a href="/company/roleID/<%= src.id %>/?delete=true&name=<%= company.dataValues.company_name %>&id=<%= companyId%>" class="edit" title="Delete" data-toggle="tooltip"><i
                                                    class="fas fa-fw fa-trash"></i></a>
                                                    <%}%>
                                                        </td>

                                                    </tr>
                                                    <% i++; } %>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>



                        <% if(form) {%>
                            <div class="row mx-2 mt-2">
                                <div class="col-md-12">
                                    <!-- Company Info -->
                                    <div class="card shadow mb-4 ">
                                        <div class="card-header ">
                                            <h3 class="m-0 font-weight-bold text-primary" style="text-align: center;">New Role</h3>
                                        </div>
                                        <form action="/company/companyRole" method="POST">
                                            <div class="card-body">
                                                <div class="row ">
                                                    <div class="col-md-6 ">
                                                        <div class="form-group ">
                                                            <label for="companyName">Company Name</label>

                                                            <input type="text" class="form-control" name="role" id="Reference " placeholder="Company Name" value="<%= company.dataValues.company_name %>" disabled required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="form-group ">
                                                            <label for="comment">Status</label>
                                                            <select class="form-control select2" name="status" style="width: 100%; "  required>
                                            <option value="" selected>--Select--</option>
                                            <option value="IN_ACTIVE">IN-ACTIVE</option>
                                            <option value="ACTIVE">ACTIVE</option>
                                        </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-6 ">
                                                        <div class="form-group ">
                                                            <label for="designation">Designation</label>

                                                            <input type="text" class="form-control" name="designation" id="designation" placeholder="Designation" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="form-group">
                                                            <label for="role">Role</label>

                                                            <input type="text" class="form-control " id="role" name="role" placeholder="Role" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-md-12 ">
                                                        <div class="form-group ">
                                                            <label for="psuedoname">Psuedo Name</label>

                                                            <input type="text" class="form-control" id="psuedoname" name="psuedoname" placeholder="Psuedo Name" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="form-group ">
                                                            <div class="s2-example">

                                                                <label for="comment">Qualification</label>
                                                                <!-- <input id="form-tags-3" name="qualification" type="text" value=""> -->
                                                                <textarea class="form-control" rows="2" name="qualification" style="resize: none;"></textarea>
                                                                <!-- <select class="js-example-basic-multiple" name="qualification" multiple="multiple" style="width: 100%;" required>
                                        <option>10th</option>
                                        <option>12th</option>
                                        <option>B.Sc</option>
                                        <option>M.Sc</option>

                                    </select> -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-6 ">
                                                        <div class="form-group ">
                                                            <label for="comment">Job Location</label>

                                                            <select class="form-control select2" name="jobLocation"
                                                                style="width: 100%;" required>
                                                                <option selected="selected ">Select</option>

                                                                <%if(location.length>0){for(let src of location){%>

                                                                <option value="<%= src %>"><%=src %></option>
                                                                <%}}%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 ">
                                                        <div class="form-group ">
                                                            <label for="salary">Salary</label>

                                                            <input type="text" class="form-control " id="salary" name="salary" placeholder="Salary" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <fieldset class="form-group">
                                                    <div class="row">

                                                        <div class="col-md-12 ">
                                                            <label for="comment" style="margin-right: 10px;">Cab Facility</label>

                                                            <div class="form-check form-check-inline">

                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Yes" checked>
                                                                <label class="form-check-label" for="Yes">
                                                Yes
                                            </label>
                                                            </div>

                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="no">
                                                                <label class="form-check-label" for="no">
                                                No
                                            </label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </fieldset>

                                                <div class="row ">
                                                    <div class="col-md-12">
                                                        <div class="form-group">

                                                            <label for="comment">Required Document</label>

                                                            <input type="text" class="form-control " id="documents" name="documents" placeholder="Document" required>

                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-12 ">
                                                        <div class="form-group ">
                                                            <label for="eligibility">Eligibility</label>
                                                            <input type="text" class="form-control " id="eligibility" name="eligibility" placeholder="Eligibility" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-12 ">
                                                        <div class="form-group ">
                                                            <label for="experience">Experience</label>

                                                            <input type="text" class="form-control " id="experience" name="experience" placeholder="Experience" required>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row ">
                                                    <div class="col-md-12 ">

                                                        <div class="form-group">
                                                            <label for="description">Description</label>
                                                            <textarea class="form-control" rows="5" id="description" name="description" style="resize: none;" required></textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                                <hr>
                                            </div>

                                            <div class="card-footer ">
                                                <div>
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                </div>
                                                <input type="hidden" name="companyID" value="<%= companyId %>">
                                                <button type="submit" class="btn btn-primary ">Submit</button>
                                            </div>

                                        </form>
                                        <!-- /.card-body -->


                                    </div>
                                </div>
                            </div>
                            <% } %>

            </div>

            <%- include('../includes/end2.ejs') %>